# Discord
DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_PUBLIC_KEY=
DISCORD_GUILD_ID=

# Database
TURSO_DB_URL=
TURSO_AUTH_TOKEN=

# Auth
NEXTAUTH_URL=
AUTH_SECRET=

# Pusher
PUSHER_APP_ID=
PUSHER_SECRET=
NEXT_PUBLIC_PUSHER_KEY=
NEXT_PUBLIC_PUSHER_CLUSTER=

# App
NEXT_PUBLIC_WEB_URL=

# Rate Limiting (optional in dev)
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
